<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home"><b>Github</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/user" routerLinkActive='active'>Search Username<span
          class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/repos" routerLinkActive='active'>Search Repository</a>
      <a class="nav-item nav-link" id="pull" routerLink="" routerLinkActive='active'>Pull Requests</a>
      <a class="nav-item nav-link" id="issue" routerLink="" routerLinkActive='active'>Issues</a>
      <a class="nav-item nav-link" id="market" routerLink="" routerLinkActive='active'>Market Place</a>
      <a class="nav-item nav-link" id="explore" routerLink="" routerLinkActive='active'>Explore</a>
    </div>
  </div>
</nav>
<app-repo-search></app-repo-search>
<app-my-profile></app-my-profile>
<footer class="footer">
  <p style="text-align: center;">© 2020 GitHub, Inc</p>
</footer>