.navbar{
  margin-bottom: 20px;
  background-color: #24292e;
  font-size: 17px;
  line-height: 1.5;
  height: 60px;
}

#pull{
  margin-left: 500px;
  margin-right: 30px;
}

#issue{
  margin-right: 30px;
}

#market{
  margin-right: 30px;
}

.footer{
  background-color: black;
  color: white;
  height: 50px;
  margin-bottom: 0px;
}

