.form{
  margin:20px;
}

.form-control{
  font-size: 110%;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1,
h2,
h3,
h4{
  text-align: center;
  font-family: Helvetica;
  color: blue;
}

.profile{
  margin-bottom: 40px;
}

.card{
background-color: rgb(237, 237, 245); 
}

.placeholder{
  color: blue;
}