<div class="container">
  <form #searchRepo="ngForm" (ngSubmit)="submitRepo()">
    <div class="form-group" style="display: flex">
      <input type="text" class="form-control" name="reponame" [(ngModel)]="searchedRepo"
        placeholder="Search github repository" style="border-color: #000" rows="10" required>
    </div>
    <button type="submit" class="btn btn-block">Search</button>
  </form>
  <div class="row">
    <div class=" card-columns">
      <div *ngFor="let repo of repos">
        <div class="card m-4 text-dark">
          <div class=" text-center card-header">
            <h4>{{repo.name}}</h4>
          </div>
          <div class="card-body">
            <p>{{repo.description}}</p>
            <a href="{{repo.html_url}}" class="text-align-center" target="_blank"
              class="m-3 btn btn-outline-info card-footer">View this project on github</a>
          </div>
          <div class="card-footer">
            <p><span class="repo-language-color" style="background-color: #2b7489"></span><b>Programming Language:</b>
              {{repo.language}}</p>
            <p><b>Created on:</b> {{repo.created_at | date}}</p>
            <p><b>Followers:</b> {{repo.watchers}} </p>
            <p><b>Forks:</b> {{repo.forks}}</p>
            <p><b>Updated:</b> {{repo.updated_at|timeSince}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>