.form-control{
  font-size: 110%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-group{
  color:blue;
}

.card{
  background-color: rgb(237, 237, 245); 
  }
  
.placeholder{
  color: blue;
  }

  h1,
  h2{
    color:white;
    text-align: center;
  }
  
  h3,
  h4{
    text-align: center;
    font-family: Helvetica;
    color: blue;
  }  