@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Alegreya');

body {
  background: linear-gradient(90deg, rgb(181,181,191) 60%,rgba(181,181,191,1) 2%, rgba(165,214,208,1) 100%, 
  rgba(173,221,219,0.7231267507002801) 100%);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
}

.btn{
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: .25em;
  color: #24292e;
  margin-top: 0px;
}
.btn:hover{
  background-color: blue;
}